.container {
    width: 90%;
    text-align: center;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
}

.col-4 {
    width: 33.33333%;
}

a {
    font-size: 1.2rem;

}

h1 {
    color: darkred;
}